__pycache__/
*.py[cod]
.venv/
.streamlit/secrets.toml
informe.aux
informe.log
informe.out
informe.toc
missfont.log
guion_exposicion.aux
guion_exposicion.log
guion_exposicion.out
ficha_repositorio.aux
ficha_repositorio.log
ficha_repositorio.out
